.t_black{
  color: black;
}
.product_page{
  color: gray;
}
.product_page:hover{
  color: pink;
}
.product_price{
  color: pink;
}
.product_intro{
  color: gray;
}
.quantity_box{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.q{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart_button:hover{
  color: brown !important;
}
.border_gray{
border: 2px solid rgb(168, 165, 165);
}
.tr_hright{
  padding: 10px !important;
  /* height: 40px; */
}
/* .review_height{
  height: 50px
} */
.review_photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* .img_scall:hover{
  transform: scale(1.5);
}
.img_scall{
 transition: 2s ease-in-out;
} */
.d{
  display: flex;
  justify-content: center;
}
.review_text{
  font-weight: 700;
  letter-spacing: 2px;
  }
.review_text:hover{
color: brown;
}
.preview .active{
  color:brown !important;
}

/* product Image */
.product_image{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}